<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入properties配置文件-->
    <context:property-placeholder location="classpath:resource/db.properties"/>
    <!--阿里巴巴druid连接池作为数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${mydriver}"/>
        <property name="url" value="${myurl}"/>
        <property name="username" value="${myusername}"/>
        <property name="password" value="${mypassword}"/>
        <property name="maxCreateTaskCount" value="${mymaxtastcount}"/>
        <property name="minIdle" value="${myminidle}"/>
    </bean>

    <!--配置sqlsession ：指定数据源 、 指定mapper文件位置、指定mybatis配置文件位置-->
    <bean id="sqlSessionFactory"  class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:usts/dao/*.xml"/>
        <property name="configLocation" value="classpath:mybatis/mybatis.xml"/>
    </bean>

    <!--mapper接口扫描，自动创建对应的bean-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="usts.dao"/>
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    </bean>

</beans>